/* Form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 360px;
height: 212px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 36px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 36px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #344054;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Asterisk */

display: none;
width: 8px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0072BC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 8px;

width: 360px;
height: 44px;

background: #FFFFFF;
border: 1px solid #FDA29B;
/* Shadows/shadow-xs

Shadows allow you to add depth and realism to designs by positioning elements on a z-axis.
*/
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 308px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

width: 308px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* alert-circle

alert, circle, warning, error
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.33333px solid #F04438;


/* This is an error message. */

width: 360px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #D92D20;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 62px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 62px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #344054;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Asterisk */

display: none;
width: 8px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0072BC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 8px;

width: 360px;
height: 44px;

background: #FFFFFF;
border: 1px solid #FDA29B;
/* Shadows/shadow-xs

Shadows allow you to add depth and realism to designs by positioning elements on a z-axis.
*/
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 308px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

width: 308px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* alert-circle

alert, circle, warning, error
*/

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 1.33333px solid #F04438;


/* This is an error message. */

width: 360px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #D92D20;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
