/* Log in */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: relative;
width: 1440px;
height: 960px;
min-height: 960px;
left: 2120px;
top: 304px;

background: #FFFFFF;


/* Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 720px;
min-width: 480px;
height: 960px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 32px;

width: 720px;
height: 960px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 360px;
max-width: 360px;
height: 448px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 1055 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 32px;

width: 360px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Logo */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

margin: 0 auto;
width: 142px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Layer 1 */

width: 48px;
height: 31.32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group */

position: absolute;
width: 48px;
height: 31.32px;
left: calc(50% - 48px/2 - 47px);
top: calc(50% - 31.32px/2 - 0.34px);



/* Vector */

position: absolute;
left: 0%;
right: 94.61%;
top: 75.13%;
bottom: 2.13%;

background: #29ABE2;


/* Vector */

position: absolute;
left: 6.26%;
right: 90.18%;
top: 80.35%;
bottom: 2.5%;

background: #29ABE2;


/* Vector */

position: absolute;
left: 10.46%;
right: 86.39%;
top: 80.41%;
bottom: 2.18%;

background: #37308C;


/* Vector */

position: absolute;
left: 14.21%;
right: 82.18%;
top: 80.34%;
bottom: 2.12%;

background: #37308C;


/* Vector */

position: absolute;
left: 18.53%;
right: 77.91%;
top: 74.56%;
bottom: 2.49%;

background: #37308C;


/* Vector */

position: absolute;
left: 22.85%;
right: 72.95%;
top: 80.34%;
bottom: 2.12%;

background: #37308C;


/* Vector */

position: absolute;
left: 27.66%;
right: 68.14%;
top: 80.34%;
bottom: 2.12%;

background: #37308C;


/* Vector */

position: absolute;
left: 32.7%;
right: 66.2%;
top: 74.56%;
bottom: 2.5%;

background: #37308C;


/* Vector */

position: absolute;
left: 13.94%;
right: 71.98%;
top: 0%;
bottom: 61.8%;

background: #29ABE2;


/* Vector */

position: absolute;
left: 8.97%;
right: 76.16%;
top: 11.15%;
bottom: 49.98%;

background: #0A72BA;


/* Vector */

position: absolute;
left: 3.95%;
right: 80.35%;
top: 22.42%;
bottom: 38.12%;

background: #37308C;


/* Frame 1055 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

margin: 0 auto;
width: 86px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Buttons/Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6px;

width: 86px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder

<p>placeholder, circle</p>
*/

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 86px;
height: 20px;

/* Text sm/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0160A3;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* placeholder

<p>placeholder, circle</p>
*/

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Header and form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 360px;
height: 384px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Header */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 360px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 360px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 360px;
height: 44px;

/* Display md/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 44px;
/* identical to box height, or 122% */
letter-spacing: -0.02em;

color: #101828;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

width: 360px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #475467;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Alert */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px;
gap: 16px;

display: none;
width: 360px;
height: 104px;

background: #FFFFFF;
border: 1px solid #D0D5DD;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 360px;
height: 272px;

border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 360px;
height: 160px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 36px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 36px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #344054;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Asterisk */

display: none;
width: 8px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0072BC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 8px;

width: 360px;
height: 44px;

background: #FFFFFF;
border: 1px solid #D0D5DD;
/* Shadows/shadow-xs

Shadows allow you to add depth and realism to designs by positioning elements on a z-axis.
*/
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 332px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

width: 332px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Help icon */

display: none;
width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #475467;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input field */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input with label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

width: 360px;
height: 70px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label wrapper */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 2px;

width: 62px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label */

width: 62px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #344054;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Asterisk */

display: none;
width: 8px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0072BC;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 10px 14px;
gap: 8px;

width: 360px;
height: 44px;

background: #FFFFFF;
border: 1px solid #D0D5DD;
/* Shadows/shadow-xs

Shadows allow you to add depth and realism to designs by positioning elements on a z-axis.
*/
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Content */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

width: 308px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

width: 308px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #667085;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Help icon */

width: 16px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* eye

<p>eye, view, see, preview</p>
*/

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Icon */

position: absolute;
left: 8.98%;
right: 8.98%;
top: 20.83%;
bottom: 20.83%;

border: 1.33333px solid #98A2B3;


/* Hint text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #475467;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 360px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Checkbox */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 250px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Input */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 0px 0px;

width: 16px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Checkbox base */

box-sizing: border-box;

width: 16px;
height: 16px;

border: 1px solid #D0D5DD;
border-radius: 4px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 226px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 226px;
height: 20px;

/* Text sm/Medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #344054;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Supporting text */

display: none;
width: 320px;
height: 20px;

/* Text sm/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #475467;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Buttons/Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 6px;

width: 110px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* placeholder

<p>placeholder, circle</p>
*/

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 110px;
height: 20px;

/* Text sm/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */

color: #0160A3;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* placeholder

<p>placeholder, circle</p>
*/

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Actions */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 360px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Buttons/Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 6px;

width: 360px;
height: 44px;

background: #0072BC;
/* Shadows/shadow-xs-skeuemorphic

Used to create a subtle skeuemorphic effect in components such as buttons and tabs.

This can be removed or replaced with shadow-xs if you prefer a flat style.
*/
box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), inset 0px 0px 0px 1px rgba(16, 24, 40, 0.18), inset 0px -2px 0px rgba(16, 24, 40, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* placeholder

<p>placeholder, circle</p>
*/

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text padding */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 2px;

width: 88px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 84px;
height: 24px;

/* Text md/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* placeholder

<p>placeholder, circle</p>
*/

display: none;
width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Social button groups */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

display: none;
width: 360px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: baseline;
padding: 0px;
gap: 4px;

display: none;
width: 360px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Section */

width: 720px;
height: 960px;

background: #065286;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 32px;
gap: 32px;

position: absolute;
height: 633px;
left: 0px;
right: 0px;
top: calc(50% - 633px/2);



/* Mockup */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 587.5px;
height: 565px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Right */

width: 587.5px;
height: 565px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Group 1053 */

position: absolute;
width: 383.5px;
height: 360.1px;
left: calc(50% - 383.5px/2 + 0px);
top: 0.35px;



/* Rectangle 42 */

position: absolute;
width: 284.05px;
height: 347.1px;
right: 159.85px;
top: 0.35px;

background: #0072BC;
border-radius: 32.5px;
transform: rotate(180deg);


/* Rectangle 43 */

position: absolute;
width: 214.5px;
height: 243.1px;
left: 102px;
top: calc(50% - 243.1px/2 - 58.26px);

background: #0C9AEB;
border-radius: 32.5px;


/* Decoration/Icons */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4.96px;

position: absolute;
width: 54.6px;
height: 54.6px;
left: 109.78px;
top: calc(50% - 54.6px/2 - 152.49px);

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Row */

width: 54.6px;
height: 4.96px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 0px;
top: 48.83px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 1.78px;
top: 39.06px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 3.56px;
top: 29.3px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 5.34px;
top: 19.53px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 7.13px;
top: 9.77px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 8.91px;
top: 0px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Row */

width: 54.6px;
height: 4.96px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 0px;
top: 48.83px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 1.78px;
top: 39.06px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 3.56px;
top: 29.3px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 5.34px;
top: 19.53px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 7.13px;
top: 9.77px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 8.91px;
top: 0px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Row */

width: 54.6px;
height: 4.96px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 0px;
top: 48.83px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 1.78px;
top: 39.06px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 3.56px;
top: 29.3px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 5.34px;
top: 19.53px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 7.13px;
top: 9.77px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 8.91px;
top: 0px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Row */

width: 54.6px;
height: 4.96px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 0px;
top: 48.83px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 1.78px;
top: 39.06px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 3.56px;
top: 29.3px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 5.34px;
top: 19.53px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 7.13px;
top: 9.77px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 8.91px;
top: 0px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Row */

width: 54.6px;
height: 4.96px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 0px;
top: 48.83px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 1.78px;
top: 39.06px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 3.56px;
top: 29.3px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 5.34px;
top: 19.53px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 7.13px;
top: 9.77px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 8.91px;
top: 0px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Row */

width: 54.6px;
height: 4.96px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 0px;
top: 48.83px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 1.78px;
top: 39.06px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 3.56px;
top: 29.3px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.83%;
right: 2.05%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 5.34px;
top: 19.53px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 7.13px;
top: 9.77px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* icon / iconoir / triangle */

position: absolute;
width: 4.96px;
height: 4.96px;
left: 8.91px;
top: 0px;

transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* Vector */

position: absolute;
left: 14.84%;
right: 2.04%;
top: 10.73%;
bottom: 13.8%;

border: 0.465341px solid #E4E7EC;
transform: matrix(0.18, -0.98, -0.98, -0.18, 0, 0);


/* correct 1 */

box-sizing: border-box;

position: absolute;
width: 352.3px;
height: 295.75px;
left: 133.2px;
top: 64.7px;

background: url(XHieu16.png);
border: 1.95px solid #101828;
border-radius: 5.2px;


/* Group 1048 */

position: absolute;
width: 54.6px;
height: 54.6px;
left: 411.4px;
top: 0.35px;



/* Ellipse 250 */

position: absolute;
width: 54.6px;
height: 54.6px;
left: 411.4px;
top: 0.35px;

background: #0C9AEB;


/* sparkles

<ol><li>sparkles</li><li>bling</li><li>glitter</li><li>sparkling</li><li>star</li><li>light</li><li>miscellaneous</li><li>fire</li><li>night</li></ol>
*/

position: absolute;
width: 27.3px;
height: 27.3px;
left: 425.05px;
top: 14px;



/* Vector */

position: absolute;
left: 9.37%;
right: 9.38%;
top: 9.37%;
bottom: 9.38%;

border: 1.70625px solid #F2F4F7;


/* Content */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

position: absolute;
width: 560px;
height: 182px;
left: 8px;
top: 382.8px;



/* Icon and text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 560px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading and supporting text */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 560px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading */

width: 589px;
height: 30px;

/* Text xl/Semibold */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Supporting text */

display: none;
width: 560px;
height: 112px;

/* Text lg/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* or 156% */

color: #475467;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Check items */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;

width: 560px;
height: 136px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 560px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check icon */

width: 24px;
height: 24px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* check-circle

<p>check, tick, confirm, checkbox, circle</p>
*/

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #FFFFFF;


/* Text wrap */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 524px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 524px;
height: 48px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 560px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Check icon */

width: 24px;
height: 24px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* check-circle

<p>check, tick, confirm, checkbox, circle</p>
*/

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #FFFFFF;


/* Text wrap */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 524px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 524px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Check item text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 560px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Check icon */

width: 24px;
height: 24px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* check-circle

<p>check, tick, confirm, checkbox, circle</p>
*/

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Icon */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 8.33%;
bottom: 8.33%;

border: 2px solid #FFFFFF;


/* Text wrap */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 524px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 524px;
height: 24px;

/* Text md/Regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Pagination */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 32px;

width: 656px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* _Carousel arrow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 12px;

width: 36px;
height: 36px;

/* Backdrop blurs/backdrop-blur-sm

Backdrop blurs (or background blurs) allow you to add depth and realism to designs by positioning elements on a z-axis.
*/
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chevron-left

chevron, left
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 1.67px solid #FFFFFF;


/* Pagination dot group */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 16px;

width: 36px;
height: 10px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Pagination dot indicator */

width: 10px;
height: 10px;

background: #0C9AEB;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* _Pagination dot indicator */

display: none;
width: 10px;
height: 10px;

background: #FFFFFF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* _Pagination dot indicator */

width: 10px;
height: 10px;

background: #D0D5DD;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* _Pagination dot indicator */

display: none;
width: 10px;
height: 10px;

background: #0C9AEB;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* _Pagination dot indicator */

display: none;
width: 10px;
height: 10px;

background: #E4E7EC;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* _Pagination dot indicator */

display: none;
width: 10px;
height: 10px;

background: #E4E7EC;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;


/* _Pagination dot indicator */

display: none;
width: 10px;
height: 10px;

background: #E4E7EC;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;


/* _Carousel arrow */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px;
gap: 12px;

width: 36px;
height: 36px;

/* Backdrop blurs/backdrop-blur-sm

Backdrop blurs (or background blurs) allow you to add depth and realism to designs by positioning elements on a z-axis.
*/
backdrop-filter: blur(4px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* chevron-right

chevron, right
*/

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 1.67px solid #FFFFFF;
